<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include("./partials/head") %>
    <style>
      h1 {
        margin-top: 30px;
        text-align: center;
      }
      .role {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 30px;
        flex-direction: row;
      }
    </style>
  </head>
  <body>
    <div class="role">
      <a href="/admin/user"
        ><button type="button" class="btn btn-success">Maintain User</button>
      </a>
      <a href="/admin/vendor"
        ><button type="button" class="btn btn-success">Maintain Vendor</button>
      </a>
    </div>
    <%- include("./partials/script") %>
  </body>
</html>
